#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.btns {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.Home {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

